.todo-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .todo-label {
    flex-grow: 1;
  }
  
  .checked {
    text-decoration: line-through;
    color: #777;
  }
  
  .delete-button {
    background-color: #ff4136;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #d80000;
  }

  /* forms */

  .login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: red;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

h1 {
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
}

.link {
  display: inline-block;
  margin-right: 10px; /* Adjust the spacing as needed */
  text-decoration: none;
  color: #007bff; /* Adjust the color as needed */
}